<div class="admin-container">
    <button routerLink="/dashboard" class="btn-back">← Voltar ao Painel</button>

    <section class="add-user-section">
        <h3>Novo Funcionário</h3>
        <form (submit)="adicionarUsuario()" class="add-form">
            <input type="text" [(ngModel)]="novoUser.name" name="name" placeholder="Nome Completo" required>
            <input type="email" [(ngModel)]="novoUser.email" name="email" placeholder="E-mail" required>
            <input type="password" [(ngModel)]="novoUser.password" name="password" placeholder="Senha Provisória"
                required>

            <select [(ngModel)]="novoUser.role" name="role">
                <option *ngFor="let r of roles" [value]="r">{{ r }}</option>
            </select>

            <button type="submit" class="btn-save">Cadastrar Funcionário</button>
        </form>
    </section>

    <hr>

    <h2>Gestão de Funcionários</h2>
    <table class="user-table">
        <thead>
            <tr>
                <th>Código</th>
                <th>Nome</th>
                <th>E-mail</th>
                <th>Cargo/Nível</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of usuarios">
                <td>{{ user.employeeCode }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <select [(ngModel)]="user.role" (change)="alterarRole(user.uid, $event)">
                        <option *ngFor="let r of roles" [value]="r">{{ r }}</option>
                    </select>
                </td>
                <td>
                    <button (click)="desativar(user.uid)" class="btn-delete">Desativar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>