<main class="auth-container" [class.dark-theme]="isDarkMode">

  <button class="theme-toggle-btn" (click)="toggleTheme()">
    <lucide-icon [name]="isDarkMode ? 'sun' : 'moon'" size="20"></lucide-icon>
  </button>

  <section class="form-section">
    <div class="forgot-password-content">
      <div class="lock-icon-container">
        <img src="assets/icons/lockResetIcon.png" alt="Ícone de forgot-password">
      </div>
      <h1 class="forgot-title">Esqueceu sua senha?</h1>
      <p class="forgot-subtitle">
        Insira seu e-mail e enviaremos um link para <br>
        você voltar a acessar a sua conta.
      </p>

      <form class="auth-form" (ngSubmit)="enviarEmail()">
        <div class="input-group">
          <input type="email" name="email" placeholder="Insira seu e-mail" [(ngModel)]="email" required>
          <img src="assets/icons/email.png" alt="Ícone de E-mail" class="input-icon">
        </div>

        <div class="actions-group">
          <button type="submit" class="btn-primary" [disabled]="loading">
            {{ loading ? 'Enviando...' : 'Enviar link' }}
          </button>
        </div>

        <a class="forgot-password-link" (click)="voltarLogin()">
          Voltar para o login
        </a>
      </form>
    </div>
  </section>

  <section class="image-section">
    <div class="brick-background"></div>
  </section>

  <div class="overlay" *ngIf="errorMessage || successMessage" (click)="fecharAviso()"></div>
  <div class="overlay" *ngIf="errorMessage || successMessage" (click)="fecharAviso()"></div>
<div class="modal-aviso" *ngIf="errorMessage || successMessage">
  <p class="modal-text">{{ errorMessage || successMessage }}</p>
  <button class="btn-ok" (click)="fecharAviso()">Ok, entendi</button>
</div>

</main>