<div class="forgot-container">
    <div class="card">
        <h2>Recuperar Senha</h2>
        <p>Insira o e-mail associado à sua conta de funcionário para receber as instruções.</p>

        <div class="form-group">
            <label for="email">E-mail</label>
            <input type="email" id="email" [(ngModel)]="email" name="email" placeholder="Digite seu e-mail" required>
        </div>

        <div class="actions">
            <button (click)="enviarEmail()" [disabled]="!email" class="btn-primary">
                Enviar Link
            </button>

            <a routerLink="/" class="btn-back">Voltar para o Login</a>
        </div>
    </div>
</div>