@import '../_auth-shared.scss';

.form-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 300px;
}

.forgot-password-content {
  width: 100%;
  max-width: 564px; 
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lock-icon-container {
    height: 240px;
  display: flex;
  justify-content: center;
  margin-bottom: 0;
  margin-top: 131px;
  color: var(--cor-vermelho-tijolo); /* Puxa a cor do seu tema */

   img {
    width: 262px; 
    height: auto;
  }
}

.actions-group {
margin-top: 23px;
}
.forgot-title {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 0 0 0px 0; 
  text-align: center;
}

.forgot-subtitle {
  text-align: center;
  font-size: 0.95rem;
  color: #555; 
  margin:0 auto 32px auto; 
  line-height: 1.4;
  max-width: 492px;
 height: 47px;
}

/* =========================================
   Link de Voltar
   ========================================= */
.forgot-password-link {
  display: block;
  text-align: center;
  margin-top: 0rem;
  font-size: 0.95rem;
  color: inherit;
  cursor: pointer;
  font-weight: 500;
  
  &:hover {
    color: var(--cor-vermelho-tijolo);
    text-decoration: underline;
  }
}

/* =========================================
   Modo Escuro
   ========================================= */
.dark-theme {

    .forgot-title{
        color: #FFF; 
    }

  .forgot-subtitle {
    color: #D9D9D9;
  }

  .forgot-password-link {
    color: #FFF;
    
    &:hover {
      color: var(--cor-vermelho-tijolo);
      text-decoration: underline;
    }
  }
}