@import '../auth-shared';

.auth-container .form-section {
  justify-content: flex-start; /* Faz os itens começarem do topo em vez do centro */
  padding: 2rem 5rem 2rem 2rem; /* Diminuí o padding-top de 5rem para 3rem para subir tudo */

  .logo-container {
    margin-bottom: 0.5rem; /* Diminui o espaço debaixo da logo */
  }

  .welcome-title {
    margin-top: 0; /* Remove qualquer margem que empurre o título para baixo */
    margin-bottom: 2rem; /* Mantém um espaço saudável entre o título e o primeiro input */
  }

}

.login-link-container {
  text-align: center;
  margin-top: 20px; /* Dá um respiro entre o botão de Criar Conta e o link */
  font-size: 14px;
  
  .texto-normal {
    color: var(--cor-azul-ardosia); /* Cor do texto "Já possui uma conta?" no modo claro */
  }
  
  .link-destaque {
    color: var(--cor-vermelho-tijolo);
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 0.8;
      text-decoration: underline;
    }
  }
}



/* =========================================
   MODO ESCURO (Sincronizado com o Body)
   ========================================= */
:host-context(.dark-theme) {
  .auth-container .form-section {
    background-color: #172027; // Cor escura da modelagem
  }
}

/* =========================================
   MODAIS DE AVISO (POP-UPS CENTRALIZADOS)
========================================= */

/* Fundo escuro atrás do aviso */
.overlay {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6); 
  z-index: 9998; 
}

/* Caixa do Aviso Centralizada */
.error-message, .success-message {
  position: fixed; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centraliza perfeitamente nos eixos X e Y */
  z-index: 9999; /* Fica acima do overlay */
  
  width: 90%;
  max-width: 350px;
  background-color: #D32F2F; /* Vermelho padrão para erro */
  color: var(--cor-branco, #ffffff);
  padding: 2rem 1.5rem;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.4);
  
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;

  p {
    margin: 0;
    font-size: 1.1rem;
    font-weight: 500;
  }
}

/* O modal de sucesso tem a cor verde */
.success-message {
  background-color: #4CAF50 !important;
}

/* Estilo do botão de Fechar */
.close-btn {
  background-color: transparent;
  color: var(--cor-branco, #ffffff);
  border: 1px solid var(--cor-branco, #ffffff);
  padding: 0.6rem 2rem;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-color: rgba(255, 255, 255, 0.2); 
  }
}





