@import '../auth-shared';

.auth-container .form-section {
  justify-content: flex-start; /* Faz os itens começarem do topo em vez do centro */
  padding: 2rem 5rem 2rem 2rem; /* Diminuí o padding-top de 5rem para 3rem para subir tudo */

  .logo-container {
    margin-bottom: 0.5rem; /* Diminui o espaço debaixo da logo */
  }

  .welcome-title {
    margin-top: 0; /* Remove qualquer margem que empurre o título para baixo */
    margin-bottom: 2rem; /* Mantém um espaço saudável entre o título e o primeiro input */
  }

}





