<main class="login-container" [class.dark-theme]="isDarkMode">
  
  <button class="theme-toggle-btn" (click)="toggleTheme()">
    {{ isDarkMode ? '☀️ Modo Claro' : '🌙 Modo Escuro' }}
  </button>

  <section class="form-section">
    
    <div class="logo-container">
        <img src="/assets/icons/logo-carriola.png" alt="Logo Asi & Obra" />
    </div>

    <h1 class="welcome-title">
      Bem vindo ao <br>
      <span class="brand-name">Asi & Obra!</span>
    </h1>

    <form class="login-form">
      
      <div class="input-group">
        <input type="email" id="email" name="email" placeholder="Insira seu e-mail" required>
        <img src="assets/icons/email.png" alt="Ícone de E-mail" class="input-icon">
      </div>

      <div class="input-group">
        <input type="password" id="password" name="password" placeholder="Digite sua Senha" required>
        <img src="assets/icons/cadeado.png" alt="Ícone de Senha" class="input-icon">
      </div>

      <div class="actions-group">
        <button type="submit" class="btn-primary">Login</button>
        <button type="button" class="btn-secondary">Cadastrar</button>
      </div>

      <a href="#" class="forgot-password">Esqueci minha senha</a>
      
    </form>
  </section>

  <section class="image-section">
    <div class="brick-background"></div>
  </section>

</main>