@import '../auth-shared';

.auth-container .form-section {
  justify-content: center; /* Centraliza verticalmente */
  padding: 5rem 5rem 2rem 2rem; /* Mantém o espaçamento original do Login */
}


.forgot-password {
        text-align: center;
        margin-top: 1rem;
        color: var(--cor-grafite-profundo);
        font-size: 0.9rem;
        text-decoration: underline;
        font-weight: 500;
        
        &:hover {
          color: var(--cor-vermelho-tijolo);
        }
      }

    
.dark-theme .forgot-password {
      color: var(--cor-off-white-01); 
      &:hover {
      color:var(--cor-vermelho-tijolo);
    }
  }

  