<div class="page-layout">
  
  <aside class="sidebar-container">
    <div class="brand-section">
      <img src="assets/icons/logo-carriola.png" alt="Logo" class="brand-logo">
      <h1 class="brand-name">Asi & Obra</h1>
    </div>

    <div class="user-profile-card">
      <div class="avatar-circle"></div>
      <span class="user-greeting">Olá, Nome!</span>
    </div>

    <nav class="nav-menu">
      <a routerLink="/dashboard" class="menu-item active">
        <lucide-icon name="home" size="20"></lucide-icon><span>Home</span>
      </a>
      <a routerLink="/usuarios" class="menu-item">
        <lucide-icon name="users" size="20"></lucide-icon><span>Usuários</span>
      </a>
      <a routerLink="/produtos" class="menu-item">
        <lucide-icon name="package" size="20"></lucide-icon><span>Produtos</span>
      </a>
      <a routerLink="/estoque" class="menu-item">
        <lucide-icon name="warehouse" size="20"></lucide-icon><span>Estoque</span>
      </a>
      <a routerLink="/registros-baixas" class="menu-item">
        <lucide-icon name="trending-down" size="20"></lucide-icon><span>Baixas</span>
      </a>
    </nav>
  </aside>

  <main class="main-content">
    <header class="dashboard-header">
      <h2 class="page-title">Resumo</h2>
      <button class="theme-toggle">
        <lucide-icon name="sun" size="28"></lucide-icon>
      </button>
    </header>

    <div class="cards-grid">
      <div class="summary-card">
        <img src="assets/icons/inventory.png" alt="Ícone Produtos" class="card-icon">
        <span class="card-value">1</span>
        <span class="card-label">Produtos</span>
      </div>

      <div class="summary-card">
        <img src="assets/icons/estoque.png" alt="Ícone Lotes" class="card-icon">
        <span class="card-value">0</span>
        <span class="card-label">Lotes</span>
      </div>

      <div class="summary-card">
        <img src="assets/icons/trending_down.png" alt="Ícone Baixas" class="card-icon">
        <span class="card-value">0</span>
        <span class="card-label">Baixas</span>
      </div>

      <div class="summary-card alert-card">
        <img src="assets/icons/Vector.png" alt="Ícone Alertas" class="card-icon alert-icon">
        <span class="card-value alert-text">0</span>
        <span class="card-label alert-text">Alertas</span>
      </div>
    </div>
  </main>

</div>