@import '../sidebar.component.scss';


.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--cor-azul-escuro-01);
  padding-top: 3rem;
  transition: background-color 0.3s ease;
}

.page-body {
  width: 100%;
  max-width: 800px;
  padding: 0 2rem 2rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  .page-title {
    font-size: 2.2rem;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 2.5rem;
    align-self: flex-start;
  }
}


.cards-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  width: 100%;
  justify-content: center;
}

.summary-card {
  background-color: var(--cor-off-white-01);
  border-radius: 12px;
  padding: 3.5rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12);
  }

  .card-icon {
    width: 50px;
    height: 50px;
    margin-bottom: 1.2rem;
    background-color: var(--cor-azul-escuro-01);
    -webkit-mask-size: contain;
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    mask-repeat: no-repeat;
  }

  .card-value {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: var(--cor-azul-escuro-01);
  }

  .card-label {
    font-size: 1rem;
    font-weight: 500;
    color: var(--cor-azul-ardosia);
  }

  &.alert-card {

    .alert-icon {
      background-color: #4CAF50;
    }

    .alert-text {
      color: #4CAF50;
    }
  }
}

::ng-deep .dark-theme {
  .page-layout {
    background-color: var(--cor-azul-escuro-01);
  }

  .main-content {
    color: var(--cor-perola);
  }

  .page-title {
    color: var(--cor-perola) !important;
  }

  .summary-card {
    background-color: var(--cor-azul-escuro-02);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);

    .card-value,
    .card-label {
      color: var(--cor-perola) !important;
    }

    .card-icon {
      background-color: var(--cor-perola) !important;
    }

    // MANTÉM O VERDE NO ALERTA MESMO NO DARK MODE
    &.alert-card {
      .alert-icon {
        background-color: #4CAF50 !important; // Força o verde no ícone
      }

      .alert-text {
        color: #4CAF50 !important; // Força o verde no valor e texto
      }

      // Detalhe opcional: uma borda sutil verde para destacar no escuro
      border: 1px solid rgba(76, 175, 80, 0.3);
    }
  }
}